html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
}

#root {
  width: 100%;
  height: 100%;
}

#touchpad {
  width: 100%;
  height: 100%;
}

#touchpad p {
  color: white;
}